[Unit]
Description=Change wallpaper using SWWW
After=swww.service

[Service]
ExecStart=/bin/bash /home/azubirif/dotfiles/scripts/swww-start.sh

[Install]
WantedBy=default.target
